
.banner-title {
	margin-top: 150px;
	h1 {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}

.contact-banner {
	height: 500px;
	background-size: cover;
	background-position: 50% 50%;
	display: flex;
	justify-content: flex-start;
	.banner-title {
		margin-top: 150px;
	}
	h1 {
		font-size: 70px;
		letter-spacing: 22px;
	}
			
}
