.btn {
    @include animate(color);
    font-style: italic;
    font-size: 14px;
    color: $white;
    min-width: 160px;
    float: left;
    height: 50px;
    text-align: center;
    line-height: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px 5px 30px;
    text-decoration: none;
    transition: opacity .3s;
    opacity: 1;
    letter-spacing: -0.1px;
    transition: background-color 0.3s;
    border-radius: 0px;
    &:hover {
        opacity: .8;
        color: $white;
    }
    span {
        display: inline-block;
        float: left;
        line-height: $line-height-base;
    }
    i {
        font-size: 25px;
        float: right;
        @include media('>=tablet') {
            margin-left: 30px;
        }
    }
    &-gray {
        background-color: $gray;
        transition: opacity .3s;
        &:hover {
            opacity: 0.9;
        }
    }
    &-cream {
        @extend .btn-gray;
        background-color: $cream;
    }
    &-arrow {
        @include animate(color opacity);
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        min-width: 0;
        background-color: $gray;
        color: rgba($white, .7);
        padding: 2px;
        i {
            margin: 0 !important;
        }
        &:hover {
            opacity: 0.95;
        }
    }
}

@keyframes arrow-move { 
    from {
       transform:scale(.8);
    }
    50% {
       transform:scale(1.2);
    }
    
    to {
       transform:scale(.8);
    }
}
