.contact-section {
	background-color: $light-gray;
}
.contact-block {
	position: relative;
	margin-top: -120px;
	margin-bottom: 115px;
	display: flex;
	h5 {
		color: $gray; 
		margin-bottom: 41px;
		letter-spacing: 4px;
		font-weight: bold;
		text-transform: uppercase;
		white-space: normal;
		@include media('<tablet') {
			font-size: 16px;
		}
	}
	.left-side {
		background-color: $white;
		width: 50%;
		padding: 47px 47px 47px 50px;
		background-color: $white;
		@include media('<=desktop') {
			padding: 47px 37px 47px 40px;
		}
		@include media('<tablet') {
			padding: 47px 27px 47px 30px;
		}
	}
	.right-side {
		width: 50%;
		padding: 60px;
		background-color: $cream;
		@include media('<=desktop') {
			padding: 50px;
		}
		@include media('<tablet') {
			padding: 30px;
		}
		.btn {
			position: absolute;
			bottom: -25px;
			right: 60px;
			@include media('<tablet') {
				right: 30px;
			}
		}
	}
	.tel-link, .mail-link {
		display: block;
		width: 100%;
		color: #444a50;
		font-size: 16px;
		font-weight: 600;
	}
	.tel-link {
		margin-bottom: 23px;
	}
	hr {
		position: relative;
		border-top: 1px solid #dadbdc;
		margin: 67px 0px;
	}
	address {
		line-height: 1.6;
		margin-bottom: 10px;
		font-weight: 600;
	}
}

.contact-input-group {
	position: relative;
	.form-control {
		margin-bottom: 10px;
		height: 50px;
		padding: 10px 18px;
		font-size: 14px;
		border: 1px solid #e1d1c2;
		border-radius: none;
		background-color: $cream;
		color: $white;
		resize: none;
		@include placeholder {
			color: $white;
			opacity: 1;
			transition: opacity .3s ease;
			&:focus {
				opacity: 0;
			}
		}
		&:focus {
			box-shadow: 0px 0px 30px 0px rgba(255,255,255,.2);
		}
		@include media('<=desktop') {
			padding: 5px 17px;
		}
	}
	textarea {
		margin-bottom: 0 !important;
		height: auto !important;
		line-height: 1.5;
		&:focus {
			box-shadow: 0px 0px 30px 0px rgba(255,255,255,.2);
		}
	}
}