.contact-section {
	background-color: $light-gray;
	.container {
		@include media('<tablet') {
        	padding: 0 60px;
        }
         @include media('<phone') {
        	padding: 0 15px;
		}
	}
}
.contact-block {
	position: relative;
	margin-top: -120px;
	margin-bottom: 115px;
	display: flex;
	h5 {
		color: $gray; 
		margin-bottom: 41px;
		letter-spacing: 3px;
		font-weight: bold;
		text-transform: uppercase;
		white-space: normal;
		@include media('<tablet') {
			font-size: 16px;
			margin-bottom: 20px
		}
	}
	p {
		text-overflow: ellipsis;
		@include media('<tablet') {
			margin-bottom: 10px
		}
	}
	@include media('<tablet') {
		flex-direction: column;
		}
	.left-side {
		background-color: $white;
		width: 50%;
		padding: 47px 47px 47px 50px;
		background-color: $white;
		@include media('<=desktop') {
			padding: 47px 37px 47px 40px;
		}
		@include media('<tablet') {
			padding: 37px 27px 37px 30px;
			width: 100%
		}		
		@include media('<phone') {
			padding: 27px 15px 27px 15px;
		}
	}
	.right-side {
		width: 50%;
		padding: 60px;
		background-color: $cream;
		@include media('<=desktop') {
			padding: 40px;
		}
		@include media('<tablet') {
			padding: 25px;
			width: 100%
		}
		@include media('<phone') {
			padding: 15px;
		}
		.btn {
			position: absolute;
			bottom: -25px;
			right: 60px;
			@include media('<tablet') {
				height: 40px;
				padding: 5px 11px 5px 15px !important;
				right: 30px;
				i {
					font-size: 17px;
				}
			}
			@include media('<phone') {
				min-width: 120px !important;
			}
		}
	}
	.tel-link, .mail-link {
		display: block;
		width: 100%;
		color: #444a50;
		font-size: 16px;
		font-weight: 900;
	}
	.tel-link {
		margin-bottom: 23px;
	}
	hr {
		position: relative;
		border-top: 1px solid #dadbdc;
		margin: 72px 0px;
		@include media('<tablet') {
			margin: 27px 0px;
		}
	}
	address {
		font-size: 16px;
		line-height: 1.6;
		margin-bottom: 10px;
		font-weight: 900;
	}
}

.contact-input-group {
	position: relative;
	.form-control {
		margin-bottom: 10px;
		height: 50px;
		padding: 10px 18px;
		font-size: 14px;
		border: 1px solid #e1d1c2;
		border-radius: 0;
		background-color: $cream;
		color: $white;
		outline: none;
		transition: all 0.5s;
		@include placeholder {
			color: $white;
		}
		&:focus {
			box-shadow: inset 0 0 0 rgba(255,255,255,.1), 0 0 8px rgba(255,255,255,.5);
		}
		@include media('<=tablet') {
			padding: 5px 17px;
			height: 30px;
		}
	}
	textarea {
		margin-bottom: 0 !important;
		height: auto !important;
		line-height: 1.5;
		resize: none;
	}
}