.default-info {
    @extend .ceo-info;
   &:not(:first-child) .default-text-block{
   	margin-top: 0 !important;
   }
   margin-bottom: 0;
}

.default-text-block {

    @extend .ceo-block;
    margin-bottom: 80px;
     @include media('<tablet') {
    	margin-bottom:30px;
     
     }
    		
    &.rotate {
        @include media('>=tablet') {
            flex-direction: row-reverse;
        }
    }
    .contact-info{
    	letter-spacing: 0px;
    }
    .right-side {
    	overflow: hidden;
        @include media('<tablet') {
            max-height: 250px;
            min-height: 250px;
        }
    }
    h5 {
        .light {
            font-weight: 400;
        }
    }
}
