.social-links {
	display: flex;
	align-items: center;
	a {
		display: block;
		height: 50px;
		width: 52px;
		border-right: 2px solid $gray;
		text-align: center;
		transition: opacity 0.5s;
		background-color: $cream; 
		&:last-child {
			border: none;
		}
		&:hover {
			opacity: .7;
		}
		i {
			line-height: 50px;
			font-size: 16px;
			color: $white;
		}
	}
	&-dark {
		a {
			background-color: #3b4045;
		}
	}
}