.thumb-wrapper {
    position: relative;
    z-index: 100;
    margin-top: -120px;
    margin-bottom: 73px;	
    &.static{
    	margin-top: 0;	
    }
    @include media('<desktop') {
        margin-top: -80px;
        margin-bottom: 50px;	
    }
     @include media('<tablet') {
    	margin-top: -60px;
        margin-bottom: 30px;		
     
     }
    			
    .top-holder {
    	
        height: 120px;
        padding: 15px 10px 10px;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;

        @include media('<desktop') {
            height: 80px;
        }
          @include media('<tablet') {
            height: 60px;
        }
        h5 {
            color: $gray;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2.6px;
            .light {
                font-weight: 300;
                display: block;
            }
        }
    }
    .thumb-holder {
    	@include animate(opacity);
        position: relative;
        margin-bottom: 50px;
        &:hover{
        	opacity: .9;
        }
        .img-holder {
            img {
                width: 100%;
                vertical-align: top;
            }
        }
        .btn {
            position: absolute;
            right: 30px;
            bottom: -25px;
            i{
            animation: arrow-move  2s infinite ease-in-out;
	            }
        }
    }
}
