.wrapper {
    position: relative;
}

.modal-header {
    padding: 0 !important;
    border-bottom: 0;
    .close {
        color: $white;
        position: absolute !important;
        top: 10px;
        right: 10px;
        font-size: 15px;
    }
}
