#footer {
    background-color: $gray;
    padding-top: 44px;
    padding-bottom: 60px;
    @include media('<desktop') {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 12px;
    }
    a:hover {
        color: $cream;
    }
    .footer-top {
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
    .footer-nav {
        @extend %listreset;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        @include media('<desktop') {
            margin-bottom: 10px;
        }       
         @include media('<tablet') {
            flex-wrap: wrap;
        }       
        li {
            display: block;
            &.active a{
				color: $cream;
            }
            @include media('<widescreen') {
                padding-right: 14px;
                font-size: 12px;
            }
            @include media('<tablet') {
                width: 100%;
            }
            a {
                text-transform: uppercase;
                font-size: 13px;
                color: $white;
                transition: color .3s;
                &:hover {
                    color: $cream;
                }
            }
        }
    }
    .contact-holder {
    
        a {
            display: block;
        }
        address {
            color: $white;
        }
    }
    .copy {
        display: block;
        padding-left: 63px;
        margin-bottom: 17px;
        color: $white;
    }
    .mail-link {
        white-space: nowrap;
    }
    .footer-logo {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        .social-links {
            margin-right: 20px;
        }
        .svg-logo {
            transition: opacity .3s;
            &:hover {
                opacity: .8
            }
        }
    }
}
