// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: $headings-font-family;
  line-height: $headings-line-height;
  // font-weight: bold;
  margin: 0;
  color: $headings-color;
}

h1, .h1 {
  font-weight: 300;
  line-height: $headings-line-height;
  letter-spacing: 25px;
   @include media('<desktop') {
      font-size: 65px;  
      
   }
    @include media('<tablet') {
      font-size: 60px;  
      letter-spacing: 20px;
    
    }
     @include media('<phone') {
        font-size:42px;  
        letter-spacing: 12px;
     }
          
        
        
  .small-1 {
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 8px;
    color: $white;
    text-transform: uppercase;
       @include media('<desktop') {
      font-size: 28px;  
    letter-spacing: 5px;
   }
    @include media('<tablet') {
      font-size: 20px;  
      letter-spacing: 1px;
    
    }
     @include media('<phone') {
        font-size: 18px;  
      
     }
  }
  .small-2 {
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 2px;
    color: $cream; 
           @include media('<desktop') {
      font-size: 26px;  
    letter-spacing: 1px;
   }
    @include media('<tablet') {
      font-size: 18px;  
 
    
    }
     @include media('<phone') {
        font-size:16px;  
      
     }
  }
  .small-3 {
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 8px;
    color: $white;
    text-transform: uppercase;
           @include media('<desktop') {
      font-size: 20px;  
    letter-spacing: 5px;
   }
    @include media('<tablet') {
      font-size: 16px;  
      letter-spacing: 1px;
    
    }
     @include media('<phone') {
        font-size: 14px;  
      
     }
  }
}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {
     @include media('<desktop') {
        font-size: 16px;  
     
     }
      @include media('<tablet') {
        font-size: 15px;  
      
      }
          
          
}

h6, .h6 {
  
}

p {
  margin: 0 0 30px;
}
a {
    color: $base-link-color;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}